In [46]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [47]:
engine = create_engine("sqlite:///banco.db", echo=True)

In [48]:
Base = declarative_base()

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_12548\4196137762.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [49]:
class Filme(Base):
        __tablename__ = "filmes"
        id = Column(Integer, primary_key=True)
        nome = Column(String, nullable=False)
        ano = Column(Integer, nullable=False)
        nota = Column(Float, nullable=False)

In [50]:
Base.metadata.create_all(engine)

2025-09-18 19:07:25,292 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-18 19:07:25,293 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("filmes")
2025-09-18 19:07:25,293 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-18 19:07:25,295 INFO sqlalchemy.engine.Engine COMMIT

In [51]:
### Inserir Dados
def adiciona_filme(nome, ano, nota):
    Session = sessionmaker(bind=engine)
    session = Session()
    filme = Filme(nome=nome, ano=ano, nota=nota)
    session.add(filme)
    session.commit()
    session.close()

In [52]:
#adiciona_filme("Mario", 2022, 9.5)
#adiciona_filme("Mario", 2025, 8.0)

In [53]:
def atualiza_filme(id, nome=None, ano=None, nota=None):
    Session = sessionmaker(bind=engine)
    session = Session()
    filme = session.query(Filme).filter_by(id=id).first()

    if filme:
        if nome is not None:
            filme.nome = nome
        if ano is not None:
            filme.ano = ano
        if nota is not None:
            filme.nota = nota
        session.commit()
    session.close()

In [54]:
#atualiza_filme(1, "Homem Aranha", 2016, 8.0)

In [55]:
### Excluir dados
def exclui_filme(id):
    Session = sessionmaker(bind=engine)
    session = Session()
    filme = session.query(Filme).filter_by(id=id).first()
    if filme:
        session.delete(filme)
    
    session.commit()
    session.close()

In [56]:
exclui_filme(2)

2025-09-18 19:07:26,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-18 19:07:26,296 INFO sqlalchemy.engine.Engine SELECT filmes.id AS filmes_id, filmes.nome AS filmes_nome, filmes.ano AS filmes_ano, filmes.nota AS filmes_nota
FROM filmes
WHERE filmes.id = ?
 LIMIT ? OFFSET ?
2025-09-18 19:07:26,297 INFO sqlalchemy.engine.Engine [generated in 0.00092s] (2, 1, 0)
2025-09-18 19:07:26,299 INFO sqlalchemy.engine.Engine DELETE FROM filmes WHERE filmes.id = ?
2025-09-18 19:07:26,300 INFO sqlalchemy.engine.Engine [generated in 0.00074s] (2,)
2025-09-18 19:07:26,303 INFO sqlalchemy.engine.Engine COMMIT